.*.swp
.*.swp
._*
.DS_Store
.git
.hg
.lock-wscript
.svn
.wafpickle-*
CVS
dist
example
test
.babelrc
.gitignore
webpack.*
yarn.lock
npm-debug.log
.DS_Store
node_modules/
.idea
\.tags*
/dist/**/*
logs
*.log
npm-debug.log*
.npm
.node_repl_history
