.weui-mask { max-width: 450px; margin: 0 auto; }
.mt-mask-enter{ animation-name: maskFadeEnter; }
.mt-mask-leave{ animation-name: maskFadeLeave; }

.mask-animated { animation-duration: .4s; animation-fill-mode: both }

@keyframes maskFadeEnter { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes maskFadeLeave { 0% { opacity: 1 } 100% { opacity: 0; } }
